@{
    ViewBag.Title = "Bikes";
}

<ul class="nav nav-pills">
    <li role="presentation"><a href="/Alpha/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>  Экскурсии</a></li>
    <li role="presentation"><a href="/Alpha/Lotos">Главная</a></li>
    <li role="presentation"><a href="/Alpha/Photos">Фотоальбом</a></li>
    <li role="presentation" class="active"><a href="/Alpha/Bikes">Выбор транспорта</a></li>
</ul>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Выберите велосипед</h3>

            <div class="col-md-6">
                <h2>CC</h2>
                <p><img src="http://cs624631.vk.me/v624631786/d10e/5y5peNwpRk8.jpg" class="img-responsive" alt="Cinque Terre"></p>
                <p><a class="btn btn-primary" href="">Выбрать &raquo;</a></p>
            </div>

            <div class="col-md-6">
                <h2>MTB</h2>
                <p><img src="http://cs624631.vk.me/v624631786/d0f3/Ubw2aQSCCmQ.jpg" class="img-responsive" alt="Cinque Terre"></p>
                <p><a class="btn btn-primary" href="">Выбрать &raquo;</a></p>
            </div>
        </div>
    </div>
</div>