
@{
    ViewBag.Title = "Lotos";
}

<ul class="nav nav-pills">
    <li role="presentation"><a href="/Alpha/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>  Экскурсии</a></li>
    <li role="presentation" class="active"><a href="/Alpha/Lotos">Главная</a></li>
    <li role="presentation"><a href="/Alpha/Photos">Фотоальбом</a></li>
    <li role="presentation"><a href="/Alpha/Bikes">Выбор транспорта</a></li>
</ul>

<div class="panel panel-default">
    <div class="panel-body">
        <h3>Озеро лотосов</h3>
        <p>Существует куча забавных историй, как всего в 20 км от Волгограда появилось великолепное лотосовое озеро!</p>
        <p>Например, есть легенда про мужика, который ради своей жены вырастил кучу лотосов и потом бегал несколько лет с ружьём, отгоняя злых рыбаков, которые всё портили...</p>
        <p><img src="http://cs14106.vk.me/c624130/v624130786/125d/iml94-_bSUQ.jpg" class="img-responsive" alt="Cinque Terre"></p>
    </div>
    <div class="panel-footer">06.09.2014</div>
</div>
